# Python
*.pyc
__pycache__/
venv/
*.env

# Flask
instance/

# MongoDB
data/

# IDEs and Editors
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

# Dependency management
pip-lock.txt